@mixin mat-table-custom-theme() {
  .mat-mdc-table {
    .mat-mdc-header-row {
      background-color: #EFEFEF;

      .mat-mdc-header-cell {
        color: #787a80;
        font-weight: 500;
        border-right: 1px solid #E2E2E2;
      }
    }

    .mat-mdc-row {
        .mat-mdc-cell {
            color: #787A80;
            font-weight: 500;
        }
    }
  }
}
